# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Environment files
.env

# Database and log files
*.sqlite3
*.log
*.db

# Application-specific directories
instance/
build/
dist/

# Python package info
*.egg-info/

# System and IDE files
.DS_Store
.vscode/

# Markdown and documentation
*.md

# Docker and compose-related files
docker-compose.yml
Dockerfile
Caddyfile
compose.yml
*.tar

# Git files
.git
.gitignore
.github

# Docker-related files
.dockerignore

# Virtual environments
venv
env
env_sample

# Vercel-related files
vercel.json