#Django Settings
VARIBLE_ID_REFRESH_INTERVAL_HOURS=1
USER_SESSION_LIFETIME_HOURS=1
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=*
SECRET_KEY=my_secret_key

# PG Database
USER_PG_DB=false
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432